body {background-color: #333; color: gray;}

#container { border:solid 3px #44648C;
				padding:40px;
				width:640px;
				height:1136px;
				margin:auto;
				background-color:#d1d4d5;}

/*
nav {background-color: white; 
		  text-align: center;
		  margin: auto;    
		  padding-left:10px;
		  padding-right:10px;
		  padding-top:10px;    
		  padding-bottom:10px;
		  border: solid #130303 2px; width: 90%;}*/	


#images {border: solid 3px #A7CCF9;
	     width: 600px;
	     height: 150px;
	     font-size: 0px;
	    

	     overflow: hidden;

	     margin: auto;}	
	    				
	  