body {background-color: #f6cd85; color: #fff;}

		#text {border: solid 4px #fff;
			   width: 80%;
			   height: 110px;

			   padding: 5px 10px 20px 10px;}


		
		/*tabbed div*/
		#tabbed { 
				 /*background-color: #beecf9;*/
			     /*border: solid 3px #9ac8cc;*/
				 width: 90%;
				 padding: 15px;
				 margin: auto;}


		#tabbed nav {}		 

		#tabbed nav a{display: inline-block;

					/*color of unclicked tabs*/
					  background-color: #f8e28c;
					  width: 20%;
					  height:50px;

					  text-align: center;
					  line-height: 50px;

					  text-decoration: none;
					  text-transform: uppercase;

					  color: #000;

					  font-family: Helvetica, Arial, sans-serif;

					  /*tabbed bg*/
					  border-radius: 10px 10px 0px 0px;}



		/*color of the current tab*/
		#tabbed nav a.theChosenOne {background-color: #f9f4be;}


		/*tabbed content bg color*/
		#tabbed section {
						 background-color: #f9f4be;
						 padding: 25px;
						 margin-bottom: 10px;
						 color: #000;

						 border-radius: 0px 10px 10px 10px;}	



				/*gallery border*/
		.gallery {
			      /*border: solid 3px #92ae8b;*/
				  overflow: auto;

				   /*top.  right.  bottom.  left*/
				  padding: 5px 10px 20px 0px;

				  border-radius: 10px 10px 10px 10px;}





				  /*gallery indivdual divs*/
		.gallery div {width: 30%;
					  height: 55px;
					  border: solid 4px #ade0c5;



				      margin:25px;

				      overflow: hidden;

				      float: left;}

		/* having percentages allows the child to scale with the parent instead of having to change the width and height each time */

		.gallery div img{width: 100%;}












		/*grayed out area (transparent)*/
		#dark {display: none;
			   background-color: rgba(0,0,0,.8);

		       position: fixed;
		   	   top: 0px;
		   	   bottom: 0px;
		   	   right: 0px;
		   	   left: 0px;

		   	   z-index: 1000;}


		 #dark #light {background-color: #fff;
		               
		               width: 50%;
		               height: 30px;

		               position: fixed;
		               top: 0px;
		   	           bottom: 0px;
		   	           right: 0px;
		   	           left: 0px;

		   	           margin: auto;

		   	           padding: 10px;}


		 
		 #dark #light img {width: 100%;
		   				   height: auto;}




		 #dark #light .close {position: absolute;
		   	                  right: 0px;
		   	                  top: 0px;

		   	              	  background-color: #fff;
		                      font-size: 12px;
		                      padding: 5px;}				 		  		

		